.right {
  float: right;
}
.ant-layout-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  margin: auto;
  padding: 0 0;
  height: 56px;
  width: 100%;
  background-clip: padding-box;
}

.ant-layout-header .ant-menu {
  height: 56px;
  line-height: inherit;
}
.footer {
  left: 0px;
  right: 0px;
  background-color: white;
  max-width: 1280px;
  margin: auto;
  padding: 0 16px;
  height: 56px;
}

.content-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: black;
}
